.navbar .navbar-brand{
    color: white;
    font-family: 'Kablammo', cursive;

}
.navbar .nav-link{
    color: white;
    font-family: 'Kablammo', cursive;
}
.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .navbar-toggler{
    color: transparent;
    border-color: transparent ;
}
.navbar{
    background-color: #11151f;
    position: relative;
}
.navbar .nav-item{
    position: relative;
}
.navbar .drowpDown{
    position: absolute;
    right: 0;
    left: 0;
    top: 110%;
    background-color: #11151f;
    list-style: none;
    padding: 0;
    border-radius: var(--st1Radius);
    -webkit-border-radius: var(--st1Radius);
    -moz-border-radius: var(--st1Radius);
    -ms-border-radius: var(--st1Radius);
    -o-border-radius: var(--st1Radius);
    border: .01px solid var(--myWhite);
    text-align: center;
    display: none;
    z-index: 9999;
}
.navbar .icon{
    border: 1px solid var(--myWhite);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: .5rem;
    font-size: .7rem;
    margin-left: .5rem;
    
}

.navbar .name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.navbar .btnDiv{
    display: flex;
    align-items: center;
    order: 1;
}
.navbar .nav-link:hover{
    color: var(--st1Color);
}
.navbar .nav-link:hover .icon{
    border-color: var(--st1Color);
}
.navbar .drowpDown .lastItem{
    border-top: 1px solid var(--myWhite);
}
