.footer .text{
    color: var(--myWhite);
    text-align: center;
    padding: 2rem 0;
    margin: 0;
    
}
.footer{
    background-color: black;
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; */
}